@media screen and (max-width: 600px)
    .category_form__wrapper
        width: 85%
    .input_text__category_form
        width: 80%
    .icon__collapse_category_form
        top: 1px
        right: 1px
        border: 0

