
.input__wrapper
    position: relative
    //border: 1px solid #1a202c
    width: 300px
    padding: 20px
    margin: 0 auto
    margin-bottom: 20px

.input__validation_message
    position: absolute
    bottom: -10px
    left: 20px
    color: #d00000
    font-size: 12px
    font-family: Arial, sans-serif
    //border: 1px solid #0000f0



.input__text
    padding: 10px
    background-color: #FFF
    color: #000
    border: 1px solid #000
    width: 220px
    box-sizing: border-box

.input__textarea
    height: 100px

.input_alarm
    border: 1px solid #ff0000
