.mainPage
    padding: 35px 30px 35px 50px
    &__ul
        margin: 0
        padding: 0
        display: flex
        flex-direction: column
        align-items: flex-start
    &__li
        list-style-type: none
        margin: 0
        padding: 8px 0
        text-align: left
        min-width: 50%
        &_with_border
            border-top: 1px solid rgba(1, 128, 255, 0.3)
            margin-top: 12px
            padding-top: 20px
    &__link
        +font(17px, rgb(80, 70, 70), 400)
        transition: color .3s
        &:hover
            border-bottom: 1px solid rgb(0, 0, 0, 0.3)
            color: rgb(9, 126, 245)
        &_with_left_offset
            margin-left: 50px

