
.navBar
    display: flex
    justify-content: space-between
    padding: 0
    background-color: #FFF
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3)
    &_left
        display: flex
        justify-content: left
        margin: 0
        padding: 0
    &__ul
        display: flex
        margin: 0
        padding: 0
        li
            margin: 0
            list-style-type: none

    &__link
        +font(17px, rgb(25, 118, 213), 400)
        display: block
        padding: 20px
        background-color: #fff
        border-radius: 1px
        border-bottom: 3px solid rgb(244, 249, 252)
        &:hover
            background-color: rgb(244, 249, 252)
        &_active
            background-color: #fff
            border-bottom: 3px solid rgb(25, 118, 210)


.logo__link
    +font(18px, rgb(80,80,80), 400)
    padding: 19px 20px
    margin: 0
    border-bottom: 2px solid #fff
    &:hover
        background-color: rgb(244,249,252)
