.products
    padding: 20px 0

.product__item
    min-width: 250px
    width: 250px
    margin: 0 auto
    padding: 5px
    text-align: left
    font-size: 17px
    display: flex
    justify-content: space-between
    &__name
        text-align: left
        flex-grow: 10
    &__price
        color: #9f9f9f
        margin: 0 10px
