.single_product_page__content_wrapper
    min-width: 95%
    width: 95%
    padding: 0
    margin: 0 auto

.single_product__content
    display: flex
    justify-content: flex-start
    flex-direction: row

.single_product__all_photo_wrapper
    position: fixed
    display: flex
    justify-content: flex-start
    flex-direction: row
    padding: 30px 20px
    background-color: #fff
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1)
    border-radius: 20px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none

$big_photo_width: 700px
$big_photo_height: 450px
$small_photo_width: 100px

.single_product__small_photos__wrapper
    position: relative
    max-width: $small_photo_width
    margin-right: 20px
    height: $big_photo_height


.single_product__small_photos__scroll_button
    position: absolute
    left: 0
    background-color: rgba(255, 255, 255, 0.7)
    width: $small_photo_width
    height: 30px
    cursor: pointer
    transition: background .3s
    &:hover
        background-color: rgba(255, 255, 255, 0.8)
.single_product__small_photos__scroll_button_top
    top: 0
.single_product__small_photos__scroll_button_bottom
    bottom: -2px

.single_product__small_photos__scroll_button_top__content
    position: relative
    &::before
        position: absolute
        content: ''
        left: 43px
        top: 10px
        width: 15px
        height: 15px
        border: solid #707078
        border-width: 3px 3px 0 0
        transform: rotate(-45deg)
.single_product__small_photos__scroll_button_bottom__content
    position: relative
    &::before
        position: absolute
        content: ''
        left: 43px
        top: 0
        width: 15px
        height: 15px
        border: solid #707078
        border-width: 0 3px 3px 0
        transform: rotate(45deg)


.single_product__small_photos
    display: flex
    flex-direction: column
    height: $big_photo_height
    overflow: hidden
    //scroll-behavior: smooth

.single_product__big_photo_wrapper
    width: $big_photo_width
    height: $big_photo_height
    padding: 0
    overflow: hidden



.single_product__top_characteristics
    flex-grow: 10
    +font(17px, rgb(80, 75, 75), 400)
    padding: 30px 30px
    background-color: #fff
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1)
    border-radius: 20px
    &__margin_left
        margin-left: $big_photo_width + 185px
.single_product__h1
    +font(25px, rgb(80, 75, 75), 700)
    font-family: 'Oswald', sans-serif
    letter-spacing: 1px
    text-align: left
    margin: 0
.single_product__price
    padding: 10px 0
    +font(22px, rgb(80, 75, 75), 400)
    text-align: left
.single_product__categories
    margin: 0
    padding: 1px 0
    +font(17px, rgb(80, 75, 75), 400)
    text-align: left
.single_product__category_item__link
    text-align: left
    +font(17px, rgb(50, 45, 45), 400)
    border: none
    &:hover
        border-bottom: 1px solid rgba(50, 45, 45, 0.4)
.single_product__description
    padding: 20px 0 10px 0
    +font(17px, rgb(80, 75, 75), 400)
    text-align: justify
