
.products_header
    position: relative
    display: inline-block
    margin: 0 auto
    padding: 0

.content_block__products
    width: 95%
    padding: 0 0 10px 0
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    background-color: rgba(255, 255, 255, 0)
    box-shadow: none

.products
    width: 100%
    padding: 0
    display: flex
    justify-content: flex-start
    flex-wrap: wrap


