
.products_header
    display: flex
    justify-content: space-between
    width: 90%


.products_header__link
    +font(17px, rgb(25, 118, 213), 400)
    display: block
    padding: 15px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
    transition: box-shadow .3s
    &:hover
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)

.content_block__products
    width: 90%
    padding: 20px 20px 10px 20px
    box-sizing: border-box


.products
    width: 100%
    padding: 20px 0
    // border: 1px solid #ccc
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

.product__item
    position: relative
    display: block
    min-width: 250px
    width: 250px
    margin: 10px
    padding: 20px 10px
    text-align: left
    border: 1px solid #ddd
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2)
    transition: border .3s, box-shadow .3s
    &:hover
        border: 1px solid #fff
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
        //transform: scale(1.02)
    &__name
        +font(17px, rgb(80, 75, 75), 400)
        text-align: left
        flex-grow: 10
    &__price
        +font(17px, #9f9f9f, 400)
        margin: 0 10px




.context_menu__icon__product
    position: absolute
    top: 5px
    right: 2px
    +font(17px, rgb(25, 118, 210), 700)
    padding: 0 10px
    cursor: pointer
    border-radius: 5px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &:hover
        background-color: rgb(229, 239, 245)
