.content_block__single_product
    min-width: 95%
    width: 95%
    min-height: 95%
    height: 100%
    padding: 20px

.single_product__first_block
    display: flex
    justify-content: flex-start
    flex-direction: row
    &__small_photos
        max-width: 105px
        height: 100%
        display: flex
        flex-direction: column
        //border: 1px solid #888
    &__big_photo_wrapper
        width: 500px
        padding: 0 0 0 20px
        //border: 1px solid #888
    &__top_characteristics
        flex-grow: 10
        padding: 0 0 0 20px
        +font(17px, rgb(80, 75, 75), 400)
        //border: 1px solid #888
