.products_sorting_modes
    width: 100%
    padding: 0 0 5px 10px
    text-align: left
    +font(15px, rgb(80, 70, 70), 300)
    // border: 1px solid #00f

.products_sorting_modes__link_active
    text-decoration: none
    +font(15px, rgb(25, 118, 213), 300)
    border-bottom: 1px dashed rgba(25, 118, 213, 0.5)

.products_sorting_modes__link_active
    text-decoration: none
    margin-left: 10px
    +font(15px, rgb(25, 118, 213), 300)
    border-bottom: 1px dashed rgba(25, 118, 213, 0.5)

.products_sorting_modes__link_inactive
    text-decoration: none
    margin-left: 10px
    +font(15px, rgb(120, 110, 110), 300)
    border-bottom: 1px dashed rgba(120, 110, 110, 0.5)
