.popup_right
    position: fixed
    //position: absolute
    z-index: 25
    top: 30px
    right: -570px
    border-radius: 7px
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)

.popup_right__show
    animation: showRightPopup 20s
@keyframes showRightPopup
    from, to
        right: -570px
    5%, 95%
        right: 10px
    100%
        right: -570px

.popup_right__hide
    animation: hideRightPopup .3s
@keyframes hideRightPopup
    from, to
        right: 10px
    100%
        right: -570px



.popup_right__content
    position: relative
    padding: 25px
    width: 500px
    background-color: rgb(224, 235, 241)
    +font(18px, #000, 400)
    line-height: 30px
    text-align: left
    border-radius: 7px

.popup_right__item
    margin: 0

.popup_right__collapse_icon
    position: absolute
    top: 4px
    right: 4px
    width: 25px
    height: 25px
    padding: 0 0 3px 0
    +font(45px, rgb(78, 110, 131), 100)
    cursor: pointer
    border-radius: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &:hover
        background-color: rgb(176, 199, 214)
        color: #fff
