.show_block
    visibility: visible
    opacity: 1
    animation: showBlock .3s
@keyframes showBlock
    from, to
        opacity: 0
        visibility: hidden
    100%
        opacity: 1
        visibility: visible

.hide_block
    visibility: hidden
    opacity: 0
    animation: hideBlock .3s
@keyframes hideBlock
    from, to
        opacity: 1
        visibility: visible
    100%
        opacity: 0
        visibility: hidden



.show_photo
    visibility: visible
    opacity: 1
    animation: showPhoto 1s
@keyframes showPhoto
    from, to
        opacity: 0
        visibility: hidden
    100%
        opacity: 1
        visibility: visible
