.user__item
    min-width: 250px
    width: 300px
    margin: 0 auto
    padding: 5px
    text-align: left
    font-size: 17px

.user__nameLink
    text-decoration: none
    color: #0000d0

.user__message
    height: 20px



.pagination_nav
    padding: 20px




.pagination_table
    padding: 10px 0
.pagination_width_outer
    width: 250px

.pagination_numbers_container
    display: flex
    justify-content: space-between
    color: #000
.pagination_width_inner
    width: 230px

.pagination_left
    white-space: nowrap
.pagination_middle
    white-space: nowrap
.pagination_right
    white-space: nowrap

.pagination_dots
    display: inline-block
    padding: 0
    white-space: nowrap

.pagination_link
    text-decoration: none
    margin: 1px
    padding: 7px 10px
    color: #000000
    font-size: 18px
    transition: color 0.2s, background-color 0.2s
.pagination_link:hover
    background-color: #4a4a4a
    color: #ffffff

.active_pagination_link
    padding: 7px 10px
    background-color: #4a4a4a
    color: #ffffff
    font-size: 18px

.viewAll
    padding: 20px 0
