.user__item
    min-width: 250px
    width: 300px
    margin: 0 auto
    padding: 5px
    text-align: left
    font-size: 17px

.user__nameLink
    text-decoration: none
    color: #0000d0

.user__message
    height: 20px


