
=font($size,$color,$weight)
    font-size: $size
    color: $color
    font-weight: $weight


@import "vars"
@import "show_hide"
@import "transition"

@import "h1"
@import "content"

@import "navBar"
@import "navBar_mobile"

@import "mobileMenu"

@import "iconPrototype"

@import "contextMenu"
@import "contextMenuIcon"

@import "mainPage"
@import "helpPage"

@import "user"
@import "user_mobile"
@import "category"
@import "category_mobile"

@import "form"
@import "form_mobile"
@import "formCategory"
@import "formCategory_mobile"
@import "formProduct"
@import "formProduct_mobile"

@import "productList"
@import "productListItem"
@import "productListItem_mobile"
@import "productListItemSmall"

@import "productViewingSortingFiltering"
@import "productViewingSortingFiltering_mobile"
@import "productFilter"
@import "productFilter_mobile"
@import "productPhoto"
@import "productSingle"
@import "productSingle_mobile"

@import "pagination"
@import "pagination_mobile"

@import "popupRight"
@import "popupRight_mobile"

@import "absoluteMessage"
@import "absoluteFiltersMessage"

@import "waitingScreen"

@import "confirmationDialogBox"

@import "photoManager"
@import "photoManager_mobile"
@import "photoManagerItem_mobile"

@import "seoManager"
@import "seoManager_mobile"
@import "editManager"
@import "editManager_mobile"
@import "quickViewManager"
@import "quickViewManager_mobile"

@import "reloadIcon"

@import "auxiliaryModifiers"



body, html, #app, .app
    height: 100% // важно для клика по документу
    padding: 0
    margin: 0
    background-color: $basicBackgroundColor


html
    font-family: 'Source Sans Pro', sans-serif

a
    text-decoration: none
