@import "vars"

body, html, #app, .app
    padding: 0
    margin: 0
    background-color: #e6e6e6
    text-align: center

h1
    font-size: 21px
    margin-top: 20px

.mauto
    margin: 0 auto
.display-none
    display: none
.display-flex
    display: flex
.relative
    position: relative

.pdl0
    padding-left: 0
.pdr0
    padding-right: 0

.tal
    text-align: left




.show_block
    visibility: visible
    opacity: 0.6
    animation: showBlock .5s
@keyframes showBlock
    from, to
        opacity: 0
        visibility: hidden
    100%
        opacity: 0.6
        visibility: visible

.hide_block
    visibility: hidden
    opacity: 0
    animation: hideBlock .5s
@keyframes hideBlock
    from, to
        opacity: 0.6
        visibility: visible
    100%
        opacity: 0
        visibility: hidden





@import "navBar"
@import "user"
@import "category"
@import "form"
@import "formCategory"
@import "formProduct"


@import "productList"
@import "productPhoto"


@import "rightPopup"
@import "absoluteMessage"
@import "fullScreenStub"
@import "confirmationDialogBox"





