@charset "UTF-8";

body,
html,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

#flashMessage {
  display: none;
}

.show_block {
  visibility: visible;
  opacity: 1;
  -webkit-animation: showBlock 0.5s;
          animation: showBlock 0.5s;
}

@-webkit-keyframes showBlock {
  from, to {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes showBlock {
  from, to {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.hide_block {
  visibility: hidden;
  opacity: 0;
  -webkit-animation: hideBlock 0.5s;
          animation: hideBlock 0.5s;
}

@-webkit-keyframes hideBlock {
  from, to {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hideBlock {
  from, to {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

h1 {
  font-size: 22px;
  color: #000;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.content_wrapper {
  width: 95%;
  padding: 80px 0 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .content_block {
    min-width: 300px;
    width: 90%;
  }
}

.navBar {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: #FFF;
  border-bottom: 1px solid #ddd;
}

.navBar_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0;
  padding: 0;
}

.navBar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navBar__li {
  position: relative;
  margin: 0;
  list-style-type: none;
}

.navBar__li_auth {
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar__link {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
  display: block;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 1px;
  border-bottom: 2px solid #fff;
}

.navBar__link:hover {
  border-bottom: 2px solid #000;
}

.navBar__link_active {
  border-bottom: 2px solid #000;
}

.navBar__link_account_exit {
  padding: 20px 5px;
}

.navBar__link_account_exit:hover {
  border-bottom: 2px solid #fff;
}

.navBar__link__trigram {
  position: relative;
  display: inline;
  padding: 2px 10px 10px 8px;
  margin-left: 2px;
}

.navBar__link__trigram::after {
  content: "\2630";
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.navBar__drop_menu {
  position: absolute;
  z-index: 3;
  top: 28px;
  right: -15px;
  border-radius: 5px;
  background-color: #fff;
  padding: 2px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.navBar__drop_menu::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  right: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.navBar__drop_menu__ul {
  margin: 0;
  padding: 0;
}

.navBar__drop_menu__li {
  margin: 0;
  list-style-type: none;
}

.navBar__drop_menu__link {
  font-size: 17px;
  color: black;
  font-weight: 400;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navBar__drop_menu__link:hover {
  color: #1976d5;
}

.navBar__link__trigram:hover .navBar__drop_menu {
  display: block;
}

.logo__link {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 19px 20px;
  margin: 0;
  border-bottom: 2px solid #fff;
}

.logo__link:hover {
  border-bottom: 2px solid #000;
}

.personal_account__icon {
  width: 27px;
  cursor: pointer;
}

.account_exit__icon {
  width: 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.register_form__wrapper {
  position: absolute;
  z-index: 20;
  top: 10px;
  right: 10px;
  padding: 20px;
  width: 220px;
  background-color: #b5bcca;
  -webkit-box-shadow: 0 0 3px 0 rgba(100, 105, 112, 0.8);
          box-shadow: 0 0 3px 0 rgba(100, 105, 112, 0.8);
  border-radius: 7px;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.register_form__alarm {
  background-color: #b5bcca;
  -webkit-animation: alarmRegisterForm 0.3s 4 alternate;
          animation: alarmRegisterForm 0.3s 4 alternate;
}

@-webkit-keyframes alarmRegisterForm {
  from, to {
    background-color: #b5bcca;
  }

  100% {
    background-color: #e7e8e9;
  }
}

@keyframes alarmRegisterForm {
  from, to {
    background-color: #b5bcca;
  }

  100% {
    background-color: #e7e8e9;
  }
}

.register_form__header {
  position: relative;
  font-size: 18px;
  color: #006;
  font-weight: 400;
}

.register_form__close {
  position: absolute;
  top: -25px;
  right: -12px;
  padding: 0;
  font-size: 45px;
  color: #d3d8e0;
  font-weight: 100;
  cursor: pointer;
}

.register_form__close:hover {
  font-size: 45px;
  color: #909096;
  font-weight: 100;
}

.register_input__text {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  border: 1px solid #909096;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register_input__label {
  display: block;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

.register_input__validation_message {
  font-size: 12px;
  color: #c00000;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

.register_form__submit_button {
  padding: 10px 15px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  background-color: #606066;
  border: 0;
}

.register_form__submit_button:hover {
  background-color: #303036;
}

.forgot_password__link {
  text-decoration: none;
  font-size: 15px;
  color: #0060c0;
  font-weight: 400;
}

.submit_forgot__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.failed_login__message {
  font-size: 12px;
  color: #c00000;
  font-weight: 400;
  font-family: Arial, sans-serif;
  background-color: #d8dbe2;
  padding: 12px;
  border: 1px solid #a0aabe;
  border-radius: 5px;
}

.login__checkbox_input {
  visibility: hidden;
}

.login__checkbox_label {
  position: relative;
  display: block;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  margin: 0 0 0 20px;
  cursor: pointer;
}

.login__checkbox_label::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #333;
  background-color: #fff;
  content: "";
}

.login__checkbox_input:checked + .login__checkbox_label::before {
  position: absolute;
  content: "\2714";
  font-size: 21px;
  color: #000;
  font-weight: 400;
  line-height: 15px;
  background-color: #fcdd0c;
}

.ulogin_iframe {
  padding: 0;
  margin: 7px 0 0 -10px;
  height: 50px;
  width: 230px;
}

.mt10 {
  margin-top: 10px;
}

.mt18 {
  margin-top: 18px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.absolute_message__wrapper {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute_message__show_and_hide {
  opacity: 0;
  -webkit-animation: showAndHideAbsoluteMessage 2s;
          animation: showAndHideAbsoluteMessage 2s;
}

@-webkit-keyframes showAndHideAbsoluteMessage {
  from, to {
    opacity: 0;
  }

  15%, 85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showAndHideAbsoluteMessage {
  from, to {
    opacity: 0;
  }

  15%, 85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.absolute_message__div {
  position: relative;
  width: 300px;
  min-height: 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 17px;
  color: #fff;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arial_sans-serif {
  font-family: Arial, sans-serif;
}

.absolute_message__close {
  position: absolute;
  top: -5px;
  right: 3px;
  padding: 0;
  font-size: 35px;
  color: #ccc;
  font-weight: 100;
  cursor: pointer;
}

.absolute_message__close:hover {
  font-size: 35px;
  color: #eee;
  font-weight: 100;
}

.auth_block__wrapper {
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  width: 270px;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.auth_block__header {
  font-size: 15px;
  color: #000;
  font-weight: 100;
  padding: 7px 10px;
  background-color: #fff;
}

.auth_block__content {
  font-size: 15px;
  color: #eee;
  font-weight: 100;
  padding: 7px 10px;
  background-color: #555;
}

.auth_block__link {
  text-decoration: none;
  font-size: 15px;
  color: #eee;
  font-weight: 100;
  border-bottom: 1px dashed #eee;
}

.mr7 {
  margin-right: 7px;
}

.ml7 {
  margin-left: 7px;
}

.products {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_item__wrapper {
  width: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_item {
  position: relative;
  display: block;
  min-width: 130px;
  width: 250px;
  max-width: 250px;
  margin: 15px 15px 30px 15px;
  padding: 0;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.product_item:hover {
  -webkit-box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.2);
}

.product_item:hover .product_item__bottom_info__absolute {
  opacity: 1;
  visibility: visible;
}

.product_item:hover .product_item__quick_view_link {
  opacity: 1;
}

.product_item__content {
  background-color: #fff;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_item__no_photo {
  font-size: 20px;
  color: #c4daef;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 187px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_item__no_photo:hover {
  color: #f7fbff;
}

.product_item__name {
  font-size: 16px;
  color: #2d2323;
  font-weight: 400;
  text-align: left;
  padding: 10px 10px 2px 10px;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.product_item__name__link {
  font-size: 16px;
  color: #2d2323;
  font-weight: 400;
  text-decoration: none;
}

.product_item__price {
  font-size: 16px;
  color: #807878;
  font-weight: 400;
  padding: 0 10px 10px 10px;
}

.product_item__quick_view_link__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  width: 250px;
  max-width: 250px;
  height: 185px;
  opacity: 1;
  pointer-events: none;
}

.product_item__quick_view_link {
  font-size: 14px;
  color: #585050;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product_item__bottom_info__relative_wrapper {
  position: relative;
  height: 0;
}

.product_item__bottom_info__absolute {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  color: #504b4b;
  font-weight: 400;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.product_item__bottom_info__text {
  margin: 0;
  padding: 3px 0;
}

.mauto {
  margin: 0 auto;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.relative {
  position: relative;
}

.tal {
  text-align: left;
}

.taj {
  text-align: justify;
}

.pdl0 {
  padding-left: 0;
}

.pdr0 {
  padding-right: 0;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

