@media screen and (max-width: 1200px)
    .filter_icon__img
        margin: 0 0 -10px 0



@media screen and (max-width: 500px)
    .show_lot_number_with_input
        margin: -6px 15px 0 0
    .show_lot_number__input
        width: 70px
        +font(12px, #000, 400)
@media screen and (max-width: 450px)
    .show_lot_number_with_input
        margin: -7px 15px 0 0
    .show_lot_number__input
        width: 50px
        +font(10px, #000, 400)

//@media screen and (max-width: 1100px)
    .top_viewing_sorting_filtering_container
        justify-content: space-between
        padding: 0 0 18px 10px
    .viewing_icon__wrapper
        margin: 0 0 0 -5px
    .products_sorting_modes
        display: none
