.quick_view_manager__screen
    position: fixed
    z-index: $quick_view_manager__screen__z-index
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(0, 0, 0, 0.5)

.quick_view_manager__content_wrapper
    position: relative
    width: 100%
    height: 100%
    box-sizing: border-box
    margin: auto
    padding: 0
    background-color: rgba(0, 0, 0, 0.5)
//border-radius: 20px 0 20px 20px
.quick_view_manager__content
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 50px 50px 30px 10px
    //background-color: #fff
    background-color: rgba(0, 0, 0, 0)
    overflow-y: auto
//&::-webkit-scrollbar
    width: 17px

.quick_view_manager__content .single_product__all_photo_wrapper
    top: 0 //45px

.quick_view_manager__collapse_icon
    position: absolute
    top: 10px
    right: 25px
    width: 36px
    height: 36px
    box-sizing: border-box
    padding: 0 0 3px 0
    +font(69px, #f0f0f0, 100)
    line-height: 30px
    //background-color: #000
    cursor: pointer
    border-radius: 3px
    display: flex
    justify-content: center
    align-items: center
    &:hover
        background-color: rgba(0, 0, 0, 1)
