.display-none
    display: none
.display-block
    display: block
.display-flex
    display: flex

.set-opacity
    opacity: 1


.relative
    position: relative

.height0
    height: 0

.w100
    width: 100%

.tal
    text-align: left
.taj
    text-align: justify


.pdl0
    padding-left: 0
.pdr0
    padding-right: 0


.mauto
    margin: 0 auto

.ml7
    margin-left: 7px
.ml10
    margin-left: 10px
.ml15
    margin-left: 15px


.mr7
    margin-right: 7px
.mr15
    margin-right: 15px


.mt10
    margin-top: 10px
.mt18
    margin-top: 18px
.mt20
    margin-top: 20px
.mt30
    margin-top: 30px


.mb5
    margin-bottom: 5px





















