@import "vars"

=font($size,$color,$weight)
    font-size: $size
    color: $color
    font-weight: $weight

body
    min-height: 100vh
    box-sizing: border-box
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    font-family: $body_font_family

.content_wrapper
    flex-grow: 2
    width: $content_wrapper_width
    padding: 80px 0 30px 0
    box-sizing: border-box
    margin: 0 auto
    display: block


a
    text-decoration: none



@import "show_hide"


@import "mainMenu/topMenu"
@import "mainMenu/bottomMenu"

@import "h1"

@import "product/productPhoto"
@import "product/productList"
@import "product/productListItem"
@import "product/productSingle"
@import "product/singlePhotoPage"

@import "pagination"

@import "viewedProductsBlock"

@import "jsAuth/authAbsoluteMenu"
@import "jsAuth/jsRegisterLoginForm"

@import "staticAuth/authPage"
@import "staticAuth/myPage"

@import "absoluteMessage"

@import "auxiliaryModifiers"


#flashMessage
    position: absolute
    display: none

