=font($size,$color,$weight)
    font-size: $size
    color: $color
    font-weight: $weight

body, html, #app
    height: 100%
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif

a
    text-decoration: none


#flashMessage
    display: none



@import "show_hide"

@import "h1"
@import "content"

@import "mainMenu/topMenu"

@import "jsRegisterLoginForm"
@import "absoluteMessage"
@import "authBlock"

@import "product/productList"
@import "product/productListItem"

@import "auxiliaryModifiers"



