.settings_form__property_header
    +font(15px, #999, 400)
    text-align: left
    padding: 0
    margin: 0


$settingsInputBackgroundColor: #fff

.settings_form__input__container
    width: 100%
    display: flex
    align-items: flex-end
    justify-content: flex-start
    flex-wrap: nowrap
    padding: 0
    margin: 0
    background-color: $settingsInputBackgroundColor
    border-bottom: 3px solid #d0d0d0

.settings_form__input__bottom_hint
    width: 100%
    margin: 0
    padding: 0
    +font(13px, #999, 100)
    font-style: italic
    text-align: left
    //border: 1px solid #003cff
.settings_form__input__link
    +font(13px, #999, 100)


.settings_form__input_textarea
    height: 45px
    width: 445px
    padding: 17px 10px 0 0
    margin: 0
    border: 0
    overflow: hidden
    resize: none
    //border-right: 1px solid #888
    box-sizing: border-box
    +font(17px, #000, 100)
    line-height: 17px
    outline: 0
    background-color: $settingsInputBackgroundColor
    &:disabled
        background-color: $settingsInputBackgroundColor


.settings_form__submit_icon__wrapper
    height: 40px
    width: 30px
    display: flex
    align-items: flex-end
    justify-content: center
    padding: 0 0 7px 5px
    //border: 1px solid #003cff
    margin: 0
    cursor: pointer
.settings_form__submit_icon__img
    width: 30px
    //border: 1px solid #7a7a7a
    margin: 0


.settings_form__check_address_icon__wrapper
    position: relative
    width: 100%
    height: 0
    padding: 0
    margin: 0
.settings_form__check_address_icon__link
    position: absolute
    right: 0
    top: 5px
    padding: 0
    margin: 0
    cursor: pointer
    //border: 1px solid #003cff
.settings_form__check_address_icon__img
    margin: 0
    padding: 0
    height: 20px














