@media screen and (max-width: 550px)
    .order_window
        width: 100%
        min-height: 200px
        max-height: 100%
        padding: 45px 20px 30px 20px
        &__contact_item
            padding: 10px 0
            &__title
                font-size: 15px
            &__content
                font-size: 15px
            &__link
                font-size: 15px
