.bottom_menu
    width: 100%
    min-height: 120px
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 0
    margin: 0
    background-color: #000
    &__ul
        display: flex
        margin: 0
        padding: 0 30px
    &__li
        margin: 0
        list-style-type: none
    &__link
        font-family: 'Oswald', sans-serif
        +font(18px, #fff, 400)
        display: block
        padding: 20px 20px
        border-bottom: 2px solid #000
        &:hover
            color: rgb(25, 118, 213)
        &_active
            border-bottom: 2px solid #f0f0f0
            &:hover
               color: #fff
    &__contacts
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        cursor: pointer
        &__relative
            position: relative
            border: 0
            height: 0
            width: 70px
            padding: 0
            margin: 0
            background-color: rgba(0, 0, 0, 1)
            box-shadow: 0 0 30px 25px rgba(100, 150, 255, 0.3)
        &__absolute
            position: relative
            left: -65px
            font-family: 'Oswald', sans-serif
            +font(18px, #fff, 400)
            background-color: rgba(0, 0, 0, 0)
