@media screen and (max-width: 1950px)
    [data-menu-link-category="10"]
        display: none
@media screen and (max-width: 1850px)
    [data-menu-link-category="9"]
        display: none
@media screen and (max-width: 1750px)
    [data-menu-link-category="8"]
        display: none
@media screen and (max-width: 1650px)
    [data-menu-link-category="7"]
        display: none
@media screen and (max-width: 1550px)
    [data-menu-link-category="6"]
        display: none

@media screen and (max-width: 1450px)
    [data-menu-link-category="5"]
        display: none
@media screen and (max-width: 1300px)
    [data-menu-link-category="4"]
        display: none

@media screen and (max-width: 1100px)
    [data-menu="left"]
        display: none
    [data-mobile-menu-icon="1"]
        display: block
    .top_menu__li_auth
        display: none

    [data-menu-contact-link="desktop"]
        display: none
    [data-menu-contact-link="mobile"]
        display: block
    [data-menu-user-link="desktop"]
        display: none
    [data-menu-user-link="mobile"]
        display: block

    .logo__link_active
        border-bottom: 2px solid #fff
        &:hover
            border-bottom: 2px solid #fff

    .top_menu__mobile_menu_icon__content
        padding: 16px 20px
    .logo__link
        +font(17px, rgb(0, 0, 0), 700)
        padding: 16px 20px
    .top_menu__link
        padding: 16px 20px
    .top_menu__link_fav_icon
        padding: 16px 20px
    .topMenu-favIcon-total
        top: 9px
        right: 12px


@media screen and (max-width: 700px)
    .top_menu__mobile_menu_icon__content
        padding: 14px 15px 14px 15px
    .logo__link
        +font(16px, rgb(0, 0, 0), 700)
        padding: 14px 15px
    .top_menu__link
        padding: 14px 15px
    .top_menu__link_fav_icon
        padding: 14px 15px
    .topMenu-favIcon-total
        top: 7px
        right: 7px

@media screen and (max-width: 450px)
    .top_menu__link
        padding: 14px 12px
    .top_menu__mobile_menu_icon__content
        padding: 14px 12px 14px 15px
