
.top_menu
    position: fixed
    z-index: 10
    width: 100%
    display: flex
    justify-content: space-between
    padding: 0
    background-color: #fff
    //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3)
    border-bottom: 1px solid #ddd
    &__left
        display: flex
        justify-content: left
        margin: 0
        padding: 0
    &__ul
        display: flex
        margin: 0
        padding: 0
    &__li
        //position: relative
        margin: 0
        //list-style-type: none
    &__li_auth
        margin: 0
        // list-style-type: none
        display: flex
        align-items: center
        justify-content: flex-end
    &__link
        font-family: 'Oswald', sans-serif
        +font(18px, rgb(0, 0, 0), 400)
        // letter-spacing: 1px
        display: block
        padding: 20px 30px
        background-color: #fff
        border-radius: 1px
        border-bottom: 2px solid #fff
        &:hover
            border-bottom: 2px solid #000
        &_active
            border-bottom: 2px solid #000
    &__link_account_exit
        padding: 20px 5px
        &:hover
            border-bottom: 2px solid #fff

.top_menu__link_with_drop_menu
    display: block
    &::after
        content: '\2630'
        +font(13px, #000, 400)
        margin: 0 0 0 10px

.easy_top_menu__link_with_drop_menu
    display: block

.top_menu__drop_menu
    position: absolute
    z-index: 3
    top: 70px
    min-height: 70px
    left: 0
    min-width: 100%
    margin: 0
    padding: 0
    box-sizing: border-box
    background-color: #fff
    border-bottom: 1px solid #ddd
    display: none
    align-items: center
    flex-wrap: wrap
    &:hover
        display: flex
    &__ul
        margin: 0
        padding: 0
        width: 100%
        display: flex
        align-items: center
        flex-wrap: wrap
    &__li
        list-style-type: none
    &__link
        font-family: 'Oswald', sans-serif
        +font(18px, #000, 400)
        display: block
        padding: 10px 20px
        &:hover
            color: #777


.top_menu__link_with_drop_menu:hover + .top_menu__drop_menu
    display: flex
.easy_top_menu__link_with_drop_menu:hover + .top_menu__drop_menu
    display: flex



.logo__link
    font-family: 'Oswald', sans-serif
    +font(18px, rgb(0, 0, 0), 700) // rgb(25, 118, 213)
    letter-spacing: 1px
    padding: 19px 20px
    margin: 0
    border-bottom: 2px solid #fff
    &:hover
        border-bottom: 2px solid #000

.personal_account__icon
    width: 27px
    cursor: pointer

.account_exit__icon
    width: 20px
    cursor: pointer
    margin-bottom: -2px

