@media screen and (max-width: 2320px)
    .product_item__wrapper
        max-width: 13%
@media screen and (max-width: 1970px)
    .product_item__wrapper
        max-width: 16%
@media screen and (max-width: 1625px)
    .product_item__wrapper
        max-width: 19%
@media screen and (max-width: 1325px)
    .product_item__wrapper
        max-width: 24%
@media screen and (max-width: 1050px)
    .product_item__wrapper
        max-width: 31.5%
@media screen and (max-width: 720px)
    .product_item__wrapper
        max-width: 48%
@media screen and (max-width: 590px)
    .product_item__wrapper
        max-width: 47%
@media screen and (max-width: 450px)
    .product_item__wrapper
        max-width: 46%
@media screen and (max-width: 370px)
    .product_item__wrapper
        max-width: 100%
