@media screen and (max-width: 1280px)
    .quick_view_manager__content
        padding-top: 30px

@media screen and (max-width: 850px)
    .quick_view_manager__content_wrapper
        background-color: rgba(0, 0, 0, 0.9)
    .quick_view_manager__content
        padding: 50px 0 0 0
    .quick_view_manager__content .single_product__all_photo_wrapper
        padding: 0 0 20px 0
    .quick_view_manager__collapse_icon
        position: fixed
        top: 0
        right: 19px
        display: block
        height: 50px
        width: 50px
        box-sizing: border-box
        +font(69px, #f0f0f0, 100)
        text-align: center
        padding: 0 3px 1px 4px
        border-radius: 25px
        line-height: 40px
        background-color: rgba(0, 0, 0, 0.5)


//@media screen and (max-width: 350px)
    .quick_view_manager__content
        padding: 40px 0 0 0
    .quick_view_manager__collapse_icon
        top: 1px
        right: 18px
        height: 37px
        width: 37px
        +font(50px, #f0f0f0, 100)
        padding: 0 3px 1px 4px
        border-radius: 21px
        line-height: 30px
