
.top_total_parameters_of_search
    width: 100%
    padding: 15px 0 0 15px
    text-align: left
    &__item
        +font(15px, #fff, 400)
        line-height: 25px
        padding: 0 5px 0 10px
        background-color: #a8a0a0
        border-radius: 15px
        margin: 3px 10px 3px 0
        display: inline-block
        white-space: nowrap
        &__collapse_icon
            +font(15px, #fff, 400)
            line-height: 25px
            padding: 10px 5px 10px 10px
            cursor: pointer
            &:hover
                color: #fcf081 //rgb(25, 118, 213)
