
.show_block
    visibility: visible
    opacity: 1
    animation: showBlock .5s
.hide_block
    visibility: hidden
    opacity: 0
    animation: hideBlock .5s


.show_block_forwards
    visibility: visible
    opacity: 1
    animation: showBlock .5s forwards
.hide_block_forwards
    visibility: hidden
    opacity: 0
    animation: hideBlock .5s forwards


@keyframes showBlock
    from, to
        opacity: 0
        visibility: hidden
    100%
        opacity: 1
        visibility: visible

@keyframes hideBlock
    from, to
        opacity: 1
        visibility: visible
    100%
        opacity: 0
        visibility: hidden



